CTP_PROJECT_KEY=
CTP_CLIENT_SECRET=
CTP_CLIENT_ID=
CTP_AUTH_URL=https://auth.europe-west1.gcp.commercetools.com
CTP_API_URL=https://api.europe-west1.gcp.commercetools.com
CTP_SCOPES=

PORT=5000

NODE_ENV=production

REDIS_PASSWORD=

EMAIL_CONFIRM_EXPIRY_MINUTES=
EMAIL_VERIFICATION_LINK=
TRANSPORTER_EMAIL_USER=
TRANSPORTER_EMAIL_PASSW=

CART_CURRENCY=